# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# ML checkpoints
notebooks/results_sentiment/
*.pt
*.pth
*.bin

# Hugging Face models
*.safetensors

# Environment / secrets
.venv/
venv/
.env
